<div style="height: 90vh;", class=" d-flex justify-content-center flex-column">

  <div class="bg-light mb-3 mt-auto mb-auto rounded flex-wrap", style="display: flex; justify-content: center; align-item: center; flex; gap: 70px; padding: 10px; ">
    <div>
      <%= image_tag(@movie.cover_img, style: "max-height: 600px; max-width: 700px; height: 600px;" ) %>
    </div>
    <div style=" max-width: 600px; text-align:start;">
      <h2><%= @movie.title %></h2>
        <p><%= @movie.description %></p>
        <p class="text text-info"><%= "Release Date: #{@movie.release_date}" %></p>
        <p class="text text-info"><%= "Duration: #{@movie.duration} min" %></p>
        <%= link_to t('view_movie.button.back'), root_path, class: "btn btn-secondary" %>

        <% if user_signed_in? %>
          <% if current_user.role == "admin" %>
            <%= link_to t('view_movie.button.edit'), edit_api_v1_movie_path(@movie.id), class: "btn btn-primary" %>
            <%= link_to t('view_movie.button.Delete'), api_v1_movie_path(@movie.id),  data: {turbo_method: :delete ,turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        <% end %>
    </div>
  </div>

<div class="d-flex justify-content-center item-center mh-100">
 <% if user_signed_in? %>
    <div class="justify-center item-center">
      <div>
        <h2><%= t('view_movie.review.title') %></h2>
      </div>
      <div class="mt-6">
        <%= link_to t('view_movie.review.button.add'), new_api_v1_review_path(@movie.id), class: "btn btn-primary" %>
      </div>
    </div>      
    <% else %>
      <div style=" max-width: 600px; text-align:start;">
        <h2><%= t('view_movie.review.login_message') %></h2>
      </div>
  <% end %>
</div>

</div>







