<div  class=" d-flex justify-content-center flex-column flex-wrap bg-light  mb-auto rounded">
  <div class=" flex-wrap d-flex justify-content-center align-item-center gap-5 p-2
w-auto
">
    <div class="w-auto
">
      <%= image_tag(@movie.cover_img.attachment.url, class: "img-fluid", style: "height: 600px" ) %>
    </div>
    <div style=" max-width: 600px; text-align:start;">
      <h2><%= @movie.title %></h2>
      <p><%= @movie.description %></p>
      <h4 class="text"><%= "⭐ #{@movie.aggregate_rating}" %><span class="text
text-secondary
" >/10</>
      </h4>
      <p class="text text-info"><%= I18n.t('views.movie.release_date', release_date: "#{@movie.release_date}")%></p>
      <p class="text text-info"><%= I18n.t('views.movie.run_time', duration: "#{@movie.duration}") %></p>
      <%= link_to t('view_movie.button.back'), root_path, class: "btn btn-secondary" %>
      <% if user_signed_in? %>
        <% if current_user.role == "admin" %>
          <%= link_to t('view_movie.button.edit'), edit_api_v1_movie_path(@movie.id), class: "btn btn-primary" %>
          <%= link_to t('view_movie.button.delete'), api_v1_movie_path(@movie.id),  data: {turbo_method: :delete ,turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="margin-top: 10px;", class=" d-flex justify-content-center bg-light mb-3 rounded flex-wrap">
    <div class="d-flex flex-column flex-wrap">
      <div>
        <h2><%= t('view_movie.review.title') %></h2>
        <% if user_signed_in? %>
          <div class="mt-6">
            <%= link_to t('view_movie.review.button.add'), new_api_v1_movie_review_path(@movie), class: "btn btn-primary" %>
          </div>
        <% else %>
          <div style=" max-width: 600px; text-align:start;">
            <h2><%= t('view_movie.review.login_message') %></h2>
          </div>
        <% end %>
      </div>
      <% @movie.reviews.each do |review| %>
        <div class="card mt-4  p-4" style="max-width: 100vw;">
          <div class="card" style="width:80vw">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title"><%= User.find(review.user_id).first_name %></h5>
                <h3>⭐ <%= review.rating %></h3>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %></h6>
              <p class="card-text"><%= review.review %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
