<div  class=" d-flex justify-content-center flex-col flex-wrap bg-light mb-3 mt-auto mb-auto rounded">

  <div class=" flex-wrap", style="display: flex; justify-content: center; align-item: center; flex; gap: 70px; padding: 10px;">
    <div>
      <%= image_tag(@movie.cover_img, style: "max-height: 600px; max-width: 700px; height: 600px;" ) %>
    </div>
    <div style=" max-width: 600px; text-align:start;">
      <h2><%= @movie.title %></h2>
        <p><%= @movie.description %></p>
        <p class="text text-info"><%= "Release Date: #{@movie.release_date}" %></p>
        <p class="text text-info"><%= "Duration: #{@movie.duration} min" %></p>
        <%= link_to t('view_movie.button.back'), root_path, class: "btn btn-secondary" %>

        <% if user_signed_in? %>
          <% if current_user.role == "admin" %>
            <%= link_to t('view_movie.button.edit'), edit_api_v1_movie_path(@movie.id), class: "btn btn-primary" %>
            <%= link_to t('view_movie.button.Delete'), api_v1_movie_path(@movie.id),  data: {turbo_method: :delete ,turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        <% end %>
    </div>
  </div>

  <div style="height: 100vh;", class=" d-flex justify-content-center bg-light mb-3 mt-auto mb-auto rounded flex-wrap">
   <div class="d-flex flex-column justify-content-center flex-wrap">
     <div>
      <h2><%= t('view_movie.review.title') %></h2>
      <% if user_signed_in? %>
        <div class="mt-6">
          <%= link_to t('view_movie.review.button.add'), new_api_v1_movie_review_path(@movie), class: "btn btn-primary" %>
        </div>
      <% else %>
        <div style=" max-width: 600px; text-align:start;">
          <h2><%= t('view_movie.review.login_message') %></h2>
        </div>
      <% end %>
    </div>
    <div class="card mt-4  p-4" style="max-width: 70rem;">
      <% @movie.reviews.each do |review| %>
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <h5 class="card-title"><%= User.find(review.user_id).first_name %></h5>
              <h3>⭐ <%= review.rating %></h3>
              
           </div>
            <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %></h6>
            <p class="card-text"><%= review.review %></p>
          </div>
         </div>
      <% end %>
    </div>   
   </div>   
</div>  
</div>









